{% extends 'pragmatic-web-toolkit/seo/_layout' %}
{% import '_includes/forms' as forms %}

{% set title = 'templates.seo.sitemap.sitemap'|t('pragmatic-web-toolkit') %}
{% set selectedTab = 'sitemap' %}

{% set crumbs = [
  { label: 'SEO', url: url('pragmatic-toolkit/seo') },
  { label: 'templates.seo.sitemap.sitemap'|t('pragmatic-web-toolkit'), url: url('pragmatic-toolkit/seo/sitemap') },
] %}

{% block sidebar %}
  <nav aria-label="{{ 'templates.seo.sitemap.sections'|t('pragmatic-web-toolkit') }}">
    <ul class="nav">
      <li>
        <a class="{{ not sectionId ? 'sel' : '' }}" href="{{ url('pragmatic-toolkit/seo/sitemap', { site: selectedSite.handle }) }}">
          {{ 'templates.seo.sitemap.all-entries'|t('pragmatic-web-toolkit') }}
        </a>
      </li>
      {% if sections|length %}
        <li class="heading"><span>{{ 'templates.seo.sitemap.sections'|t('pragmatic-web-toolkit') }}</span></li>
        {% for section in sections %}
          <li>
            <a class="{{ section.id == sectionId ? 'sel' : '' }}" href="{{ url('pragmatic-toolkit/seo/sitemap', { site: selectedSite.handle, section: section.id }) }}">
              {{ section.name }} <span class="light" style="margin-left: 2px;">({{ section.count }})</span>
            </a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <p>
    {{ 'templates.seo.sitemap.public-sitemap-url'|t('pragmatic-web-toolkit') }}
    <a href="{{ sitemapUrl }}" target="_blank" rel="noopener">{{ sitemapUrl }}</a>
  </p>

{% endblock %}
