{% extends 'pragmatic-web-toolkit/cookies/_layout' %}

{% set title = 'templates.cookies.categories.title'|t('pragmatic-web-toolkit') %}
{% set selectedTab = 'categories' %}
{% set _siteHandle = craft.app.request.getQueryParam('site') %}
{% set _siteParam = _siteHandle ? { site: _siteHandle } : {} %}

{% block content %}

  <div class="toolbar">
    
      <a href="{{ url('pragmatic-toolkit/cookies/categories/new', _siteParam) }}" class="btn submit add icon">{{ 'templates.cookies.categories.new-category'|t('pragmatic-web-toolkit') }}</a>
    
  </div>

  {% if categories|length %}
    <div class="tableview">
      <table class="data fullwidth">
        <thead>
          <tr>
            <th>{{ 'templates.cookies.categories.table-name'|t('pragmatic-web-toolkit') }}</th>
            <th>{{ 'templates.cookies.categories.table-handle'|t('pragmatic-web-toolkit') }}</th>
            <th>{{ 'templates.cookies.categories.table-required'|t('pragmatic-web-toolkit') }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories %}
            <tr>
              <td>
                
                  <a href="{{ url('pragmatic-toolkit/cookies/categories/' ~ category.id, _siteParam) }}">{{ category.name }}</a>
                
              </td>
              <td><code>{{ category.handle }}</code></td>
              <td>{{ category.isRequired ? 'templates.cookies.common.yes'|t('pragmatic-web-toolkit') : 'templates.cookies.common.no'|t('pragmatic-web-toolkit') }}</td>
              <td class="thin">
                
                  <a class="delete icon" role="button" data-category-id="{{ category.id }}"></a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  

  {% js %}
    document.querySelectorAll('.delete.icon[data-category-id]').forEach(function(btn) {
      btn.addEventListener('click', function(e) {
        e.preventDefault();
        if (!confirm('{{ 'templates.cookies.categories.confirm-delete'|t('pragmatic-web-toolkit')|e('js') }}')) return;
        Craft.sendActionRequest('POST', 'pragmatic-web-toolkit/cookies/delete-category', { data: { id: this.dataset.categoryId } })
          .then(function() { location.reload(); });
      });
    });
  {% endjs %}
{% endblock %}
