{% extends 'pragmatic-web-toolkit/cookies/_layout' %}
{% import '_includes/forms' as forms %}

{% set title = 'General' %}
{% set selectedTab = 'general' %}
{% set _siteHandle = craft.app.request.getQueryParam('site') %}
{% set _siteParam = _siteHandle ? { site: _siteHandle } : {} %}

{% block content %}
  <form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput('pragmatic-web-toolkit/cookies/save-general') }}
    {{ redirectInput('pragmatic-toolkit/cookies/general', _siteParam) }}
    {{ hiddenInput('site', selectedSiteId ?? craft.app.sites.currentSite.id) }}

    {{ forms.textField({ label: 'Popup Title', id: 'popupTitle', name: 'popupTitle', value: settings.popupTitle, required: true }) }}
    {{ forms.textareaField({ label: 'Popup Description', id: 'popupDescription', name: 'popupDescription', value: settings.popupDescription, rows: 3 }) }}
    {{ forms.textField({ label: 'Accept All Button Label', id: 'acceptAllLabel', name: 'acceptAllLabel', value: settings.acceptAllLabel, required: true }) }}
    {{ forms.textField({ label: 'Reject All Button Label', id: 'rejectAllLabel', name: 'rejectAllLabel', value: settings.rejectAllLabel, required: true }) }}
    {{ forms.textField({ label: 'Save Preferences Button Label', id: 'savePreferencesLabel', name: 'savePreferencesLabel', value: settings.savePreferencesLabel, required: true }) }}
    {{ forms.textField({ label: 'Cookie Policy URL', id: 'cookiePolicyUrl', name: 'cookiePolicyUrl', value: settings.cookiePolicyUrl }) }}

    <div class="btngroup">
      <button type="submit" class="btn submit">Save</button>
    </div>
  </form>
{% endblock %}
